body {
  background-color: #000;
  color: #fff
}

#root{
  margin: 0 auto;
  padding: 10px;
  width: 420px;
  border: solid 1px blue;
}

.header{
  height: 100px;
  padding: 3px 50px;
  border: solid 1px blue;
  border-radius: 5px;
  margin-bottom: 5px;
  line-height: 2px;
}

.header h5,h2 {
  text-align: center;
}

.game-body{
  position: relative;
  width: 420px;
  height: 465px;
  margin: 0 auto;
}

.game-body div{
  width: 15px;
  height: 15px;
}

.footer {
  height: 20px;

  padding: 3px;
  border: solid 1px blue;
  border-radius: 5px;
  margin-top: 5px;
}

/*Wall*/
.wall{
  border: 6px solid blue;
  box-sizing: border-box;
}

/*pac-dot*/
.pac-dot{
  background-color: yellow;
  border: 3px solid black;
  border-radius: 50%;
  box-sizing: border-box;
}
